.wrapper { width: 960px; margin: 0 auto; }
.wk-col-50 { width: 50%; float: left;}

li { list-style: none; }

#maingraph { position: relative; margin: 40px 0; border: 1px solid #999; }
  #sidebar { width: 200px; float: left; position: absolute; z-index: 10; font-size: 0.8em; background: rgba(0,0,0,0.1);
      padding: 10px; }
    #sidebar .js-toggle { display: none; }
    #sidebar .js-toggleSidebar { display: block; }
    #sidebar .col-prod, #sidebar .col-year { float: left; width: 100px; }
      #sidebar a.selected { color: red; }
    #sidebar ul { margin: 0; }
    #sidebar h4 { font-size: 1.5em; }
  #graph-note { position: absolute; top: 0;left: 0; padding: 20px 40px; display: none;
    background: rgba(0,0,0,0.1); text-align: center; }
  #graph { background: #F5FAFF; }

.prodAxis { font-size: 0.8em; }
  .prodAxis line, .prodAxis .domain, .prodAxis path, .temporary line { fill: none; stroke-width: 1px; stroke: #ccc; shape-rendering: crispEdges; }
.prodDot { fill: #F5FAFF; stroke-width: 1px; stroke: #ccc; }
.prodInfo { display: none; font-size: 1em; }
  .prodInfoAct { display: block; }
  .prodAxis path, .prodAxis line { fill: none; stroke: black; }